<div class="accordion mb-3" [ngClass]="{ 'accordion-flush': !mobile }" id="filtersAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading">
      <button class="accordion-button rounded-3 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
        Filters
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" [ngClass]="{ 'show': !mobile }"
      data-bs-parent="#filtersAccordion">
      <div class="col mx-2 mt-2 accordion-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3 ">
            <div class="row">
              <div class="col-6 mb-2">
                <h3>Filters</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 mb-2">
                <button class="btn btn-info w-100" type="submit" [disabled]="!form.valid">Apply filters</button>
              </div>
              <div class="col-lg-6 mb-2">
                <button class="btn btn-danger w-100" type="button" (click)="onRemoveFilters()">Remove filters</button>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <h5>Name</h5>
            <input type="text" class="form-control " aria-label="Name" formControlName="name" id="name" />
            <span *ngIf="form.get('name').invalid && form.get('name').touched" class="form-text text-danger mb-2">
              Name must have maximum 100 characters!
            </span>
          </div>

          <div class="mb-3">
            <h5>Make</h5>
            <input type="text" class="form-control " aria-label="Make" formControlName="make" id="make" />
            <span *ngIf="form.get('make').invalid && form.get('make').touched" class="form-text text-danger mb-2">
              Make must have maximum 100 characters!
            </span>
          </div>

          <div class="mb-3" >
            <h5>Brand</h5>
            <select class="form-select mb-2" formControlName="brand" *ngIf="brands && brands.length > 0">
              <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
            </select>
            <div class="col" *ngIf="otherBrandSelected || !brands || brands.length === 0">
              <input type="text" class="form-control" formControlName="otherBrand">
              <span *ngIf="form.get('otherBrand').invalid && form.get('otherBrand').touched"
                class="form-text text-danger mb-2">
                Brand must have maximum 30 characters!
              </span>
            </div>
          </div>

          <div class="mb-3">
            <h5>Model</h5>
            <input type="text" class="form-control " aria-label="model" formControlName="model" id="model" />
            <span *ngIf="form.get('model').invalid && form.get('model').touched" class="form-text text-danger mb-2">
              Model must have maximum 100 characters!
            </span>
          </div>

          <div class="mb-3" *ngIf="genders && genders.length > 0">
            <h5>Gender</h5>
            <select class="form-select" formControlName="gender">
              <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
            </select>
          </div>

          <div class="mb-3">
            <h5>Price</h5>
            <div class="form-check" *ngFor="let priceRange of priceRanges">
              <input class="form-check-input" type="radio" name="price" id={{priceRange}} value={{priceRange}}
                formControlName="price">
              <label class="form-check-label" for={{priceRange}}>
                {{priceRange}}
              </label>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>