<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="text-center my-5">What is an Ask and how do I sell on NetMarket?</h1>
            <p>There are two ways to sell on NetMarket: placing an Ask or Selling Now.</p>
            <h6>Placing an Ask</h6>
            <p>If you have the lowest Ask, buyers who place a matching bid will automatically buy from you. If someone lists a lower Ask than you, they will get the sale, however, your Ask is still active and could be accepted if it becomes the lowest ask again. Once your Ask meets a Bid, the transaction is captured automatically.</p>
            <h6>Sell Now</h6>
            <p>If you don’t want to wait, simply select “Sell Now” on the product page to sell the item immediately at the highest Bid. You’ll receive your payout once your item is shipped and verified by NetMarket.</p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <a mat-raised-button color="warn" routerLink="/faq" class="text-start">Go back</a>
        </div>
    </div>
</div>
