<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex">

    <a class="navbar-brand" href="#"> <img src="../../../assets/logo.svg" class="logo"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="input-group search-bar">
      <input class="form-control" type="search" placeholder="Search">
      <div class="input-group-append">
        <button class="btn default" type="submit">
          <img src="../../../assets/search.svg" class="search-icon">
        </button>
      </div>
    </form>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink"
             role="button" data-bs-toggle="dropdown"
             (click)="showDropdown()" on-focusout="hideDropdown()">
            <img src="{{ dropdownIconPath }}" class="menu-icon">
          </a>
          <ul class="dropdown-menu">
            <ng-container *ngIf="!isUserLoggedIn">
              <li *ngIf="!isUserLoggedIn">
                <a class="dropdown-item" routerLink='/auth/login'>Log In</a>
              </li>
              <li *ngIf="!isUserLoggedIn">
                <a class="dropdown-item" routerLink='/auth/register'>Sign Up</a>
              </li>
            </ng-container>
            <ng-container *ngIf="isUserLoggedIn">
              <li *ngIf="isUserLoggedIn">
                <a class="dropdown-item" (click)="logout()">Log Out</a>
              </li>
            </ng-container>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><img src="../../../assets/account.svg" class="menu-icon"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="../../../assets/help.svg" class="menu-icon"></a>
        </li>
      </ul>
    </div>

  </div>
</nav>
