<div class="row d-flex flex-column align-items-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
                <div class="mx-auto col-lg col-md-3 col-sm-12 col-xs-12">
                    <a class="text-center navbar-brand d-none d-sm-block" href="#">
                        <img src="../../../assets/logo.svg" class="logo" alt="">
                    </a>  
                </div>
                <div class="mx-auto col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <form class="input-group search-bar">
                        <input class="form-control" type="search" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn default" type="submit">
                                <img src="../../../assets/search.svg" alt="" class="search-icon">
                            </button>
                        </div>        
                    </form>
                </div>
                <div class="col-lg-3 col-sm-12 col-xs-12">
                    <button class="btn def col-sm-4">1</button>
                    <button class="btn def col-sm-4">2</button>
                    <button class="btn def col-sm-4">3</button>
                </div>
        </div>
    </nav>
</div>