.logo {
    width: 90px;
    height: 90x;
}

.menu-icon {
    width: 40px;
    height: 30px;
}

.search-bar {
    width: 100%;
    font-size: large;
    border: lightgray solid 1px;
    border-radius: 5px;
}