
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>Update transaction status</h2>
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="mb-3 col-6 offset-3">
                <label class="form-label" for="status">Status</label>
                <select id="status" class="form-select mb-2" formControlName="status">
                    <option *ngFor="let status of statuses | keyvalue" [value]="status.key">{{status.value}}</option>
                </select>
                <span *ngIf="form.get('status').invalid && form.get('status').touched"
                    class="form-text text-danger mb-2">
                    <span *ngIf="form.get('status').hasError('required')">
                        Status is required!
                    </span>
                </span>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="error === true">
                Something went wrong
            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" color="success" mat-button [disabled]="!form.valid">Save</button>
    </mat-dialog-actions>
</form>