<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="text-center my-5">What is a Bid and how do I buy on NetMarket?</h1>
            <p>There are two ways to buy on NetMarket: placing a bid or Buying Now.</p>
            <p>A Bid signals your intent to buy - it is your financial offer for an item on NetMarket. All bids are placed in order from high to low on an item’s product page. You can select the number of days until a bid expires: 1, 3, 7, 14, 30, or 60. We’ll send an email when your Bid is about to expire so you can renew it or let it go. You can also cancel or update your bid anytime before an Ask meets it.</p>
            <p>If you have the highest bid, a seller who places an Ask that matches yours will automatically sell to you. If someone places a higher bid than you, no worries. If an ask matches their (now highest) bid, they’ll get the item. But your bid is still active and could be accepted if it becomes the highest bid again.</p>
            <p>If you don’t want to wait, simply select “Buy Now” on the product page to purchase the item immediately at the lowest Ask. You can pay using all major credit cards or PayPal. If using PayPal, your default payment method will be charged. </p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-2">
            <a mat-raised-button color="warn" routerLink="/faq" class="text-start">Go back</a>
        </div>
    </div>
</div>
