<div class="container mt-3">
    <div class="row">
        <div class="col-12 my-3">
            <h1 class="text-center">
                Account Settings
            </h1>
        </div>
    </div>
    <app-loading-spinner *ngIf="loading === true"></app-loading-spinner>
    <div *ngIf="loading === false">
        <div class="row mb-2">
            <div class="d-flex justify-content-between">
                <h2>Profile</h2>
                <a mat-button class="mb-2 h4">Edit</a>
            </div>
            <hr class="mb-3">
           <div class="col-md-6 col-lg-3 mb-2 mx-2">
               <h4>Name</h4>
               <p>TODO: Add First and last name in UserSettings on backend side</p>
           </div>
           <div class="col-md-6 col-lg-3 mb-2 mx-2">
                <h4>Email Address</h4>
                <p>{{ user.email }}</p>
           </div>
           <div class="col-md-6 col-lg-3 mb-2 mx-2">
            <a type="button" class="btn btn-danger mb-2 w-100">Reset Password (TODO: Add this functionality on the backend side)</a>
        </div>
        </div>
        <div class="row mb-2">
            <div class="d-flex justify-content-between">
                <h2>Billing Info</h2>
                <a mat-button class="mb-2 h4">Edit</a>
            </div>
            <hr class="mb-3">
            <div class="col-md-6 col-lg-3 mb-2">
                <h4>Payment</h4>
                <p *ngIf="userSettings.paypalEmail">Paypal email: {{ userSettings.paypalEmail }}</p>
                <p *ngIf="!userSettings.paypalEmail">Paypal email: Not provided</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-2">
                <h4>Billing address</h4>
                <div *ngIf="billingAddressProvided">
                    <p class="my-0">{{userSettings.billingStreet}}</p>
                    <p class="my-0">{{userSettings.billingAddressLine1}}</p>
                    <p class="my-0">{{userSettings.billingAddressLine2}}</p>
                    <p class="my-0">{{userSettings.billingZipCode}}</p>
                    <p class="my-0">{{userSettings.billingCountry}}</p>
                </div>
                <p class="my-o" *ngIf="!shippingAddressProvided">Not provided</p>
            </div>
         </div>
         <div class="row mb-2">
            <div class="d-flex justify-content-between">
                <h2>Shipping Info</h2>
                <a mat-button class="mb-2 h4">Edit</a>
            </div>
            <hr class="mb-3">
            <div class="col-md-6 col-lg-3 mb-2">
                <h4>Address</h4>
                <div *ngIf="shippingAddressProvided">
                    <p class="my-0">{{userSettings.shippingStreet}}</p>
                    <p class="my-0">{{userSettings.shippingAddressLine1}}</p>
                    <p class="my-0">{{userSettings.shippingAddressLine2}}</p>
                    <p class="my-0">{{userSettings.shippingZipCode}}</p>
                    <p class="my-0">{{userSettings.shippingCountry}}</p>
                </div>
                <p class="my-o" *ngIf="!shippingAddressProvided">Not provided</p>
            </div>
         </div>
        </div>
   
</div>
