    <div class="container mt-3">
        <div class="row">
            <div class="col-12 mb-3">
                <h1 class="text-center">
                    Profile
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-5 offset-1 border-2 border-dark border-end">
                Seller level
            </div>
            <div class="col-5 mt-3 ms-2">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
        </div>
    
    </div>
