<div class="alert alert-danger text-center" role="alert" *ngIf="error">
    Something went wrong
</div>
<app-loading-spinner *ngIf="loading && !error"></app-loading-spinner>
<div class="container-fluid" *ngIf="!loading && !error">
    <app-size-modal (sizeChanged)="changeSize($event)" [category]="itemCard.item.category | lowercase"></app-size-modal>
    <div class="row mb-2">
        <div class="col-6 offset-3 text-center mt-3 mb-2">
            <h1>{{ itemCard.item.name | titlecase }}</h1>
        </div>
    </div>
    <div class="row mb-2 d-flex justify-content-center">
        <div class="col-sm col-md-3 border-end border-1 border-dark mb-2" *ngIf="size !== 'noSize'">
            <button class="btn btn-outline-secondary w-100 me-1" (click)="onSelectSize()">
                Size: {{ size | uppercase }}<br />
                <img src="assets/expand_more.svg" alt="Dropdown">
            </button>
        </div>
        <div class="col-md-6 border-end border-1 border-dark d-flex justify-content-between mb-2">
            <button class="btn btn-success w-100 mx-1" routerLink="/buy" [state]="{ data: { item: this.itemCard, size: this.size } }">
                <div class="row">
                    <div class="col-7 border-end border-1 border-dark d-flex justify-content-center align-items-center">
                        <div *ngIf="itemCard.lowestAsk.price !== null">
                            {{ itemCard.lowestAsk.price | currency }}
                            <br>
                            Lowest Ask
                        </div>
                        <div *ngIf="itemCard.lowestAsk.price === null">
                            No Asks
                            <br>
                            Retail price
                        </div>
                    </div>
                    <div class="col-5 d-flex justify-content-center align-items-center">
                        Buy or <br> Bid
                    </div>
                </div>
            </button>
            <button class="btn btn-danger w-100 mx-1" routerLink="/sell" [state]="{ data: { item: this.itemCard, size: this.size } }">
                <div class="row">
                    <div class="col-7 border-end border-1 border-dark d-flex justify-content-center align-items-center">
                        <div *ngIf="itemCard.highestBid.price !== null">
                            {{ itemCard.highestBid.price | currency}}
                            <br>
                            Highest Bid
                        </div>
                        <div *ngIf="itemCard.highestBid.price === null">
                            No Bids
                            <br>
                        </div>
                    </div>
                    <div class="col-5 d-flex justify-content-center align-items-center">
                        Sell or <br> Ask
                    </div>
                </div>
            </button>
        </div>
        <div class="col-sm col-md-3 d-flex justify-content-center mb-2">
            <button class="btn btn-info w-100 mx-1">Follow <img src="assets/add.svg" alt="follow"></button>
            <button class="btn btn-info w-100 mx-1" (click)="onShare()">Share <img src="assets/share.svg"
                    alt="share"></button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6 offset-3 mb-2 d-flex justify-content-center">
            <img [src]="itemCard.item.imageUrl" alt="{{ itemCard.item.name }}" class="img-fluid">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4 border-end border-1 border-dark mb-2 d-flex align-items-center">
            <div>
                <p class="ms-3"><strong>Model: </strong>{{ itemCard.item.model | titlecase}}</p>
                <p class="ms-3"><strong>Make: </strong>{{ itemCard.item.make | titlecase}}</p>
                <p class="ms-3"><strong>Retail price: </strong>{{ itemCard.item.retailPrice | currency }}</p>
            </div>
        </div>
        <div class="col-sm-8 text-center">
            <p>{{ itemCard.item.description === '' ? 'No description' : itemCard.item.description }}</p>
        </div>
    </div>
</div>
