<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-6 offset-3 text-center mt-3 mb-2">
            <h1>{{ itemCard.item.name | titlecase}}</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm col-md-3 border-end border-1 border-dark mb-2">
            <button class="btn btn-outline-secondary w-100 me-1">
                Size: {{ size }}<br />
                <img src="assets/expand_more.svg" alt="Dropdown">
            </button>
        </div>
        <div class="col-md-6 border-end border-1 border-dark d-flex justify-content-between mb-2">
            <button class="btn btn-success w-100 mx-1" routerLink="bid">
                <div class="row">
                    <div class="col-7 border-end border-1 border-dark d-flex justify-content-center align-items-center">
                        {{ itemCard.lowestAsk.price | currency}}
                        <br>
                        Lowest Ask
                    </div>
                    <div class="col-5 d-flex justify-content-center align-items-center">
                        Buy or <br> Bid
                    </div>
                </div>
            </button>
            <button class="btn btn-danger w-100 mx-1" routerLink="ask">
                <div class="row">
                    <div class="col-7 border-end border-1 border-dark d-flex justify-content-center align-items-center">
                        {{ itemCard.highestBid.price | currency}}
                        <br>
                        Highest Bid
                    </div>
                    <div class="col-5 d-flex justify-content-center align-items-center">
                        Sell or <br> Ask
                    </div>
                </div>
            </button>
        </div>
        <div class="col-sm col-md-3 d-flex justify-content-center mb-2">
            <button class="btn btn-info w-100 mx-1">Follow <img src="assets/add.svg" alt="follow"></button>
            <button class="btn btn-info w-100 mx-1">Share <img src="assets/share.svg" alt="share"></button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-6 offset-3 mb-2">
            <img [src]="itemCard.item.imageUrl" alt="item image" class="img-fluid">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-4 border-end border-3 mb-2 d-flex align-items-center">
            <div>
                <p class="ms-3"><strong>Model: </strong>{{ itemCard.item.model | titlecase}}</p>
                <p class="ms-3"><strong>Make: </strong>{{ itemCard.item.make | titlecase}}</p>
                <p class="ms-3"><strong>Retail price: </strong>{{ itemCard.item.retailPrice | currency }}</p>
            </div>
        </div>
        <div class="col-sm-8 text-center">
            <p>{{ itemCard.item.description === '' ? 'No description' : itemCard.item.description }}</p>
        </div>
    </div>
</div>