<div id="sizeModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Choose size</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <h4 class="text-center my-2">Selected size: <strong>{{ selectedSize | uppercase }}</strong></h4>
      <div class="modal-body">
        <div class="row">
          <div class="col d-flex flex-wrap justify-content-center">
            <button mat-stroked-button [ngClass]="selectedSize === size ? 'mat-raised-button' : 'mat-stroked-button'" color="primary" type="button" class="m-1"
              *ngFor="let size of sizes" (click)="onSelect(size)">{{ size | uppercase}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button mat-raised-button color="success" type="button" (click)="onSaveChanges()" data-bs-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>