<div class="container mt-1">
    <div class="row mb-4">
        <div class="col-lg-3 col-sm-6 text-center" *ngFor="let category of categories">
            <button class="h2" mat-button [color]="currentCategory === category ? 'primary' : ''"
                (click)="onCategoryChange(category)">{{ category | titlecase }}</button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-6 col-md-4 mb-2">
            <form [formGroup]="form" (ngSubmit)="onSearch()" class="form-group input-group row gx-0 border-0">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" id="search" formControlName="search">
                    <div class="input-group-append">
                        <button class="btn border search-icon" type="submit">
                            <img src="assets/search.svg" alt="Search">
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 offset-md-4 col-md-4 d-flex justify-content-end">
            <button mat-raised-button color="success" (click)="onAddProduct()">Add product</button>
        </div>
    </div>
</div>