<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>Reset password</h2>
    <mat-dialog-content class="mat-typography">
        <div class="row" *ngIf="!reset">
            <div class="my-3 col-6 offset-3">
                <label class="form-label" for="email">E-mail</label>
                <input formControlName="email" type="email" id="email" class="form-control" />
                <span *ngIf="form.get('email').invalid && form.get('email').touched" class="form-text text-danger mb-2">
                    <span *ngIf="form.get('email').hasError('required')">
                        E-mail is required!
                    </span>
                    <span *ngIf="form.get('email').hasError('email')">
                        E-mail is invalid!
                    </span>
                    <span *ngIf="form.get('email').hasError('maxlength')">
                        Email must have maximum 256 characters!
                    </span>
                </span>
            </div>
            <div class="my-3 col-6 offset-3">
                <label class="form-label" for="password">
                    Password
                </label>
                <input formControlName="password" type="password" id="password" class="form-control" />
                <span *ngIf="form.get('password').invalid && form.get('password').touched"
                    class="form-text text-danger mb-2">
                    <span *ngIf="form.get('password').hasError('required')">
                        Password is required!
                    </span>
                    <span *ngIf="form.get('password').hasError('minlength')">
                        Password must have minimum 8 characters!
                    </span>
                    <span *ngIf="form.get('password').hasError('maxlength')">
                        Password must have maximum 64 characters!
                    </span>
                </span>
            </div>
            <div formGroupName="newPasswords" class="col-6 offset-3">
                <div class="my-3">
                    <label class="form-label" for="newPassword">New password</label>
                    <input formControlName="password" type="password" id="newPassword" class="form-control" />
                    <span *ngIf="
                form.get('newPasswords.password').invalid &&
                form.get('newPasswords.password').touched
              " class="form-text text-danger mb-2">
                        <span *ngIf="form.get('newPasswords.password').hasError('required')">
                            Password is required!
                        </span>
                        <span *ngIf="form.get('newPasswords.password').hasError('minlength')">
                            Password must have minimum 8 characters!
                        </span>
                        <span *ngIf="form.get('newPasswords.password').hasError('maxlength')">
                            Password must have maximum 64 characters!
                        </span>
                    </span>
                </div>
                <div class="my-3">
                    <label mdbLabel class="form-label" for="confirmPassword">
                        Confirm new password
                    </label>
                    <input formControlName="confirmPassword" type="password" id="confirmPassword"
                        class="form-control" />
                    <span *ngIf="
                            form.get('newPasswords.confirmPassword').invalid &&
                            form.get('newPasswords.confirmPassword').touched" class="form-text text-danger mb-2">
                        <span *ngIf="form.get('newPasswords.confirmPassword').hasError('required')">
                            Password confirmation is required!</span>
                        <span *ngIf="form.get('newPasswords.confirmPassword').hasError('minlength')">
                            Password confirmation must have minimum 8 characters!
                        </span>
                        <span *ngIf="form.get('newPasswords.confirmPassword').hasError('maxlength')">
                            Password confirmation must have maximum 64 characters!
                        </span>
                    </span>
                </div>
                <span *ngIf="form.get('newPasswords.confirmPassword').touched" class="form-text text-danger mb-2">
                    <span *ngIf="form.get('newPasswords').hasError('notSame')">
                        Passwords doesn't match!
                    </span>
                </span>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="error">
                {{ error }}
            </div>
        </div>
        <div class="row" *ngIf="reset">
            <div class="alert alert-success" role="alert">
                Password changed!
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mat-button mat-dialog-close>Exit</button>
        <button type="submit" mat-button [disabled]="!form.valid" *ngIf="!reset">Change password</button>
    </mat-dialog-actions>
</form>