<div class="container mt-3">
    <div class="mt-5" *ngIf="loading || error">
        <app-loading-spinner *ngIf="loading && !error"></app-loading-spinner>
        <div class="alert alert-danger" role="alert" *ngIf="error && !loading">
          {{ error }}
        </div>
    </div>
    <div class="mat-elevation-z8 mb-5 table-responsive" *ngIf="loading === false">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
  
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category | titlecase}} </td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Product </th>
              <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="companyProfit">
              <th mat-header-cell *matHeaderCellDef> Company profit </th>
              <td mat-cell *matCellDef="let element"> {{element.companyProfit | currency}} </td>
            </ng-container>
  
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.status | titlecase}} </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onManage(row)">
            </tr>
  
          </table>
          <mat-paginator hidePageSize
                         [pageSize]="10"
                         [pageIndex]="paginationData.pageIndex-1"
                         showFirstLastButtons
                         [length]="paginationData.totalCount"
                         (page)="pageEvent = changePage($event)">
        </mat-paginator>
    </div>
  </div>
  