<h2 mat-dialog-title>Edit {{type | slice:0:3 | titlecase}}</h2>
<mat-dialog-content class="mat-typography d-flex justify-content-center">
  <button type="button" mat-raised-button color="warn" (click)="onDelete()" *ngIf="!deleted" class="mx-2">Delete {{type | slice:0:3 | titlecase}}</button>
  <button type="button" mat-raised-button color="success" class="mx-2"
          [disabled]="!form.valid"
          *ngIf="!deleted"
          (click)="onPageChanged()"
          routerLink="{{type === 'asks' ? '/sell' : '/buy'}}"
          [state]="{
            data:
            {
              item: { item: { name: row.name, id: row.itemId, imageUrl: row.imageUrl, highestBid: row.highestBid, lowestAsk: row.lowestAsk } },
              size: row.size,
              price: +row.price,
              id: row.id}
            }">
    Edit
  </button>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button mat-dialog-close>Exit</button>
</mat-dialog-actions>

