<div class="container">
    <div class="row my-5">
        <div class="col-12 text-center">
            <h1>Frequently asked questions</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4 mb-2">
            <div class="card text-dark bg-light" style="height: 9rem;">
                <div class="card-body text-center d-flex flex-column">
                  <h5 class="card-title mb-3">What is a Bid and how do I buy on NetMarket?</h5>
                  <a mat-button color="success" routerLink="bid" class="mt-auto">Read more</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card text-dark bg-light" style="height: 9rem;">
                <div class="card-body text-center d-flex flex-column">
                  <h5 class="card-title">What is an Ask and how do I sell on NetMarket?</h5>
                  <a mat-button color="success" routerLink="ask" class="mt-auto">Read more</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card text-dark bg-light" style="height: 9rem;">
                <div class="card-body text-center d-flex flex-column">
                  <h5 class="card-title">How do I contact customer service and when can I expect to hear back?</h5>
                  <a mat-button color="success" routerLink="customer-service" class="mt-auto">Read more</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
      <div class="col-2">
          <a mat-raised-button color="warn" routerLink="/" class="text-start">Go back</a>       
      </div>
    </div>
</div>